{% extends 'partials/_master.twig' %}

{% block main %}





    {#<h1>{{ record.title }}</h1>#}

    {#{{ record.teaser }}#}

    {#{{ popup(record.image, 1200, 500) }}#}

    {#{{ name }}#}

    {#{{ record.body }}#}

    {#{{ include('partials/_recordfooter.twig', { 'record': record }) }}#}

{% endblock main %}